.root {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .buttons{
    display: flex;
    gap: 1rem;
    // height: 10px;
  }
}
button{
  color: red;
  height: 40px;
  width: 60px;
}
table  ,th , td{
  border: 2px solid;
  height: 100px;
  width: 60vw;
  border-collapse: collapse;

}